:root {
  --black: #464646;
  --background: #f7f7f7;
  --soft-blue: #EAF2FD;
  --blue: #2A7AE4;
  --white: #fff;
}

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  background: var(--background);
  color: var(--black);
  font-size: 14px;
}

h1, h2 {
  font-size: 22px;
  font-weight: 700;
}

/* Header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.logo a {
  color: var(--dark);
  font-weight: 900;
}

.menu button {
  border: none;
  background: none;
}

/* home section */

.home {
  margin: 1rem;
}

.perfil img {
  width: 98px;
  height: 98px;
  border-radius: 50%;
}

.title h1 {
  line-height: 1.1;
  padding: 0.7rem 0;
}

.links-list ul {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.links-list ul li a {
  color: var(--font);
}

.links-list ul li a:hover {
  text-decoration: underline;
}

/* about me section */

.aboutMe {
  background: var(--soft-blue);
  padding: 0.5rem 1rem;
  margin: 1rem 0;
}

.aboutMe p {
  padding: 0.5rem 0;
}
