:root {
  --black: #464646;
  --background: #f7f7f7;
  --soft-blue: #EAF2FD;
  --blue: #2A7AE4;
  --white: #fff;
  --black-line: rgba(0, 0, 0, 0.323);

  --gray: #A2A2A2;
}

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  background: var(--background);
  color: var(--black);
  font-size: 14px;
}

h1, h2 {
  font-size: 22px;
  font-weight: 700;
}

a {
  font-weight: 600;
}

input {
  border: none;
}

/* Header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.logo a {
  color: var(--dark);
  font-weight: 900;
}

.menu button {
  border: none;
  background: none;
}

/* home section */

.home {
  margin: 1rem;
}

.perfil img {
  width: 98px;
  height: 98px;
  border-radius: 50%;
}

.title h1 {
  line-height: 1.1;
  padding: 0.7rem 0;
}

.links-list ul {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.links-list ul li a {
  color: var(--font);
}

.links-list ul li a:hover {
  text-decoration: underline;
}

/* about me section */

.aboutMe {
  background: var(--soft-blue);
  padding: 0.5rem 1rem;
  margin: 1rem 0;
}

.aboutMe h2 {
  margin: 1rem 0;
}

.aboutMe p {
  padding: 0.5rem 0;
}

/* Skills */

.title-cards {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

.boxes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 1rem;
  column-gap: 1rem;
}

.icon {
  color: var(--blue);
  font-size: 32px;
}

.box {
  width: 156px;
  height: 118px;
  background: var(--white);
  padding-top: 2.5rem;
  padding-left: 1rem;
}

.box p {
  margin-top: 1rem;
  font-weight: 700;
}

/* graduation */

.graduation {
  margin: 2rem 0;
  padding-bottom: 2rem;
  background: var(--soft-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box-large {
  width: 296px;
}

.box-large-img {
  display: flex;
  justify-content: center;
  background: var(--white);
  height: 150px;
  margin-bottom: 1rem;
}

.box-large-title {
  font-weight: 600;
}

/* profissional Experience */

.professional-xp {
  padding-bottom: 2rem;
} 

.box-large ul {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  margin-top: 1rem;
}

.button-primary {
  background: var(--blue);
  border: none;
  color: var(--white);
  padding: 0.6rem 1.1rem;
}

.button-primary:hover {
  background: none;
  border: 1px solid var(--blue);
  padding: 0.6rem 1.1rem;
  color: var(--blue);
}

.button-secundary {
  background: none;
  border: 1px solid var(--blue);
  padding: 0.6rem 1.1rem;
  color: var(--blue);
}

.button-secundary:hover {
  background: var(--blue);
  border: 1px solid var(--blue);
  color: var(--white);
  padding: 0.6rem 1.1rem;
}

/* Form */

.form {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  background: var(--soft-blue);
}

.form h2 {
  margin-bottom: 1rem;
}

.form p {
  margin-bottom: 1rem;
}

.input-container {
  position: relative;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
}

.input {
  box-sizing: border-box;
  border-bottom: 1px solid var(--black-line);
  padding: 1.375rem 0.5rem 0.5rem;
  height: 3.25rem;
  width: 100%;
}

.input::placeholder {
  visibility: hidden; 
  color: #ec060600;
}

.input:focus {
  outline: none;
}

.input-label {
  position: absolute;
  top: 1.375rem;  
  left: 0.5rem;
  transition: all .25s;
  color: var(--gray)
}

.input:not(:placeholder-shown) + .input-label, .input:focus + .input-label {
  font-size: 0.875rem;
  top: 0.25rem;
  transition: all .25s;
  color: var(--blue);
}

.form textarea {
  border: none;
  border-bottom: 1px solid var(--black-line);
  width: 100%;
}

.form textarea:focus {
  outline: none;
}

.form textarea::placeholder {
  font-size: 16px;
  color: var(--gray);
  padding: 1rem;
}

.form button {
  margin-top: 1rem;
}

/* footer */

.footer {
  padding: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer p {
  font-weight: 700;
}
