:root {
  --black: #464646;
  --soft-blue: #eef3fa;
  --blue: #2a7ae4;
  --white: #fff;
  --black-line: rgba(0, 0, 0, 0.323);
  --gray: #A2A2A2;
  scroll-behavior: smooth;
}

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  background: var(--soft-blue);
  color: var(--black);
  font-size: 14px;
  display: flex;
  justify-content: center;
}

main {
  max-width: 720px;
}

h1, h2 {
  font-size: 22px;
  font-weight: 700;
}

input {
  border: none;
}

a:hover {
  text-decoration: underline;
}

img {
  width: 100%;
  height: 100%;
}

/* Header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.logo a {
  font-weight: 900;
  color: var(--blue);
}

.menu nav {
  display: none;
}

.menu nav ul {
  display: flex;
  font-weight: 500;
}

.menu nav ul li {
  padding-left: 1rem;
}

.menu nav ul li a {
  color: var(--black);
}

.menu nav ul li a:hover {
  color: var(--blue);
}

.menu button {
  border: none;
  background: none;
}

/* home section */

.home {
  margin: 1rem;
}

.perfil img {
  width: 98px;
  border-radius: 50%;
}

.title h1 {
  line-height: 1.1;
  padding: 0.7rem 0;
}

.links-list ul {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  font-weight: 600;
}

.links-list ul li a {
  color: var(--font);
}

.links-list img {
  width: 0.375rem;
  height: auto;
}



/* about me section */

.aboutMe {
  border: 2px dashed var(--blue);
  padding: 1.5rem 1rem;
  margin: 2rem 0;
}

.aboutMe h2 {
  margin: 1rem 0;
  color: var(--blue);
}

.aboutMe p {
  padding: 0.5rem 0;
}

/* Skills */

.title-cards {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

.boxes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 1rem;
  column-gap: 1rem;
}

.icon {
  color: var(--blue);
  font-size: 32px;
}

.box {
  width: 156px;
  height: 118px;
  background: var(--white);
  padding-top: 2.5rem;
  padding-left: 1rem;
}

.box p {
  margin-top: 1rem;
  font-weight: 700;
}

/* graduation */

.graduation {
  margin: 2rem 0;
  border: 1px dashed var(--blue);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.boxes-medium {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
}

.box-medium {
  width: 296px;
  margin-bottom: 2rem;
}

.box-medium-img {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--white);
  height: 118px; 
}

.anhembi-logo {
  height: 100px;
}

.alura-logo {
  width: 90px;
}

.box-medium-title {
  font-weight: 600;
  margin: 0.8rem 0;
}

/* profissional Experience */

.professional-xp {
  padding-bottom: 2rem;
} 

.buttons {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  margin-top: 1rem;
}

.large-box {
  width: 296px;
}

.box-large-title {
  font-weight: 600;
}

.box-large-img {
  display: flex;
  justify-content: center;
  background: var(--white);
  height: 150px;
  margin-bottom: 1rem;
} 

.button-primary {
  background: var(--blue);
  border: none;
  color: var(--white);
  padding: 0.6rem 1.1rem; 
}

.button-primary:hover {
  background: none;
  border: 1px solid var(--blue);
  padding: 0.6rem 1.1rem;
  color: var(--blue);
}

.button-secundary {
  background: none;
  border: 1px solid var(--blue);
  padding: 0.6rem 1.1rem;
  color: var(--blue);
}

.button-secundary:hover {
  background: var(--blue);
  border: 1px solid var(--blue);
  color: var(--white);
  padding: 0.6rem 1.1rem;
}

/* Form */

.form {
  display: flex;
  flex-direction: column;
  padding: 3rem;
}

.form h2 {
  margin-bottom: 1rem;
  color: var(--blue);
}

.form p {
  margin-bottom: 1rem;
}

.input-container {
  position: relative;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
}

.input {
  box-sizing: border-box;
  border-bottom: 1px solid var(--black-line);
  padding: 1.375rem 0.5rem 0.5rem;
  height: 3.25rem;
  width: 100%;
}

.input::placeholder {
  visibility: hidden; 
  color: #ec060600;
}

.input:focus {
  outline: none;
}

.input-label {
  position: absolute;
  top: 1.375rem;  
  left: 0.5rem;
  transition: all .25s;
  color: var(--gray)
}

.input:not(:placeholder-shown) + .input-label, .input:focus + .input-label {
  font-size: 0.875rem;
  top: 0.25rem;
  transition: all .25s;
  color: var(--blue);
}

.form textarea {
  border: none;
  border-bottom: 1px solid var(--black-line);
  width: 100%;
}

.form textarea:focus {
  outline: none;
}

.form textarea::placeholder {
  font-size: 16px;
  color: var(--gray);
  padding: 1rem;
}

.form button {
  margin-top: 1rem;
}

/* footer */

.footer {
  padding: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer p {
  font-weight: 700;
  border-top: 1px solid var(--black-line);
  padding-top: 1rem;
}

/* back to top button */

.back-to-top {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  background: var(--white);
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: var(--blue);
  transform: rotate(-90deg);
  border: 0.1rem solid var(--blue);
}

/* tablet */

@media (min-width: 768px) {
  .menu button {
    display: none;
  }

  .menu nav {
    display: block;
  }

  .perfil {
    float: right;
  }

  .perfil img {
    width: 146px;
  }

  .box {
    width: 224px;
  }

  .boxes-medium {
    flex-direction: row;
  }

  .box-medium {
    margin-right: 1rem;
    width: 224px;
  }

  .box-large-img {
    height: 300px;
  }

  .back-to-top {
    width: 3rem;
    height: 3rem;
  }
}

/* desktop */

@media (min-width: 1200px) {
  main {
    max-width: none;
    padding: 0 7rem;
  }

  body {
    font-size: 16px;
  }

  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 32px;
  }
  
  .logo a {
    font-size: 30px;
  }

  .menu nav ul li {
    padding-left: 3rem;
  }
  

  .perfil img {
    width: 300px;
  }

  .home {
    padding-top: 1rem;
    height: 50vh;
  }

  .home-content {
    padding-top: 5rem;
  }

  .links-list ul {
    gap: 3rem;
    margin-top: 2rem;
  }

  .links-list img {
    width: 0.625rem;
  }

  .aboutMe {
    padding: 3rem;
  }

  .aboutme-content {
    max-width: 800px;
  }

  .box {
    width: 170px;
    height: 150px;
  }

  .box-medium {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    width: 300px;
  }

  .box-medium-img {
    width: 100%;
    height: 140px;
  }

  .anhembi-logo {
    height: 100%;
  }

  .alura-logo {
    height: 100%;
    width: 40%;
  }

  .form textarea{
    height: 200px;
  }

  .form button {
    padding: 16px;
  }
}