
/* footer */

.footer {
  padding: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer p {
  font-weight: 700;
  border-top: 1px solid var(--black-line);
  padding-top: 1rem;
}

/* back to top button */

.back-to-top {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  background: var(--white);
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: var(--blue);
  transform: rotate(-90deg);
  border: 0.1rem solid var(--blue);
}

/* tablet */

@media (min-width: 768px) {

  .back-to-top {
    width: 3rem;
    height: 3rem;
  }
}

