.graduation {
  margin: 2rem 0;
  border: 1px dashed var(--blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.boxes-medium {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
}

.box-medium {
  width: 296px;
  margin-bottom: 2rem;
}

.box-medium-img {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--white);
  height: 118px; 
}

.anhembi-logo {
  height: 100px;
}

.alura-logo {
  width: 90px;
}

.box-medium-title {
  font-weight: 600;
  margin: 0.8rem 0;
}

@media (min-width: 768px) {

  .boxes-medium {
    flex-direction: row;
  }

  .box-medium {
    margin-right: 1rem;
    width: 224px;
  }
}

@media (min-width: 1200px) {

  .box-medium {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    width: 200px;
    height: 200px;
  }

  .box-medium-img {
    width: 100%;
  }

  .anhembi-logo {
    height: 90%;
  }

  .alura-logo {
    height: 100%;
    width: 50%;
  }
}