.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.logo a {
  font-weight: 900;
  color: var(--blue);
}

.nav ul {
  display: block;
  font-weight: 500;
  width: 100%;
  background: var(--soft-blue);
  position: absolute;
  top: 50px;
  left: 0;
  height: 0;
  visibility: hidden;
  overflow-y: hidden;
}

.nav ul li {
  padding: 1.5rem 0;
  margin: 0 1rem;
  border-bottom: 2px solid var(--black-line);
}

.nav ul li a {
  color: var(--black);
}

.nav ul li a:hover {
  color: var(--blue);
}

.btn-mobile {
  border: none;
  background: none;
}

@media(max-width: 768px) {
  .nav.active ul {
    display: block;
    height: calc(100vh - 50px);
    visibility: visible;
  }
}



@media (min-width: 768px) {
  .btn-mobile {
    display: none;
  }

  .nav ul {
    display: flex;  
    width: auto;
    position: unset;
    transition: all .3s;
    z-index: 1000;
    visibility: visible;
    overflow-y: visible;
  }

  .nav ul li {
    padding: 0 1rem;
    margin: 0;
    border: none;
  }
}

@media (min-width: 1200px) {
  .logo a {
    font-size: 30px;
  }

  .nav ul li {
    padding-left: 3rem;
  }
}