.title-cards {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

.boxes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 1rem;
  column-gap: 1rem;
}

.icon {
  color: var(--blue);
  font-size: 32px;
}

.box {
  width: 156px;
  height: 118px;
  background: var(--white);
  padding-top: 2.5rem;
  padding-left: 1rem;
}

.box p {
  margin-top: 1rem;
  font-weight: 700;
}

@media (min-width: 768px) {

  .box {
    width: 224px;
  }
}

@media (min-width: 1200px) {

  .box {
    width: 170px;
    height: 150px;
  }
}